# Visual Studio files
.vs/
obj/
bin/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
*.apk
*.ap_
*.aab
*.appx
*.appxbundle
*.ipk
*.ipa
*.xap
*.xpi
*.vsix
*.vsixmanifest
*.userprefs
*.sln.docstates

# Xamarin.Android files
build/
*.apk
*.ap_
*.aab
*.dex
*.pro
*.log
*.userprefs
obj/
bin/
obj/*
bin/*

# Xamarin.iOS files
bin/
obj/
*.log
*.userprefs
*.hmap
*.ipa
*.apk
*.ap_
*.aab

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
